.chats-container {
  overflow: auto;
  padding: 1% 1% 0 1%;
  max-height: 90%;
  scroll-padding-bottom: 20px;
}

.chats-container:after {
  content: "";
  display: block;
  height: 30px;
  width: 100%;
}

.chat-row {
  display: flex;
  padding: 5px 0px;
}

.chat-bubble {
  display: table-cell;
  background-color: rgb(128, 145, 156);
  color: rgb(47, 47, 47);
  font-size: 16px;
  border-radius: 15px;
  padding: 0px 15px 0px 15px;
  vertical-align: middle;
  position: relative;
  max-width: 80%;
}

.chat-message {
  padding: 1px 10px 1px 0px;  
}